ion-button {
  width: 200px;
  height: 100px;
}
ion-col {
  text-align: center;
}

.qty{
  width: 10px;
  height: 30px;
}

.menuphoto {
  padding-left: 100px;
  }

  .price {
    padding-right: 30px;
  }