<ion-header>
  <ion-toolbar>
    <ion-title>Confirm Order: Table {{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="6">Menu</ion-col>
      <ion-col>Unit Price</ion-col>
      <ion-col>Quantity</ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngFor="let detail of detailData">
    <ion-row>
        <ion-col size="6">{{detail.menuName}}</ion-col>
        <ion-col>${{detail.unitPrice}}</ion-col>
        <ion-col>{{detail.quantity}}</ion-col>
    </ion-row>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button Fill="outline" color="medium" [routerLink] ="['/order', id]">
        <ion-label>BACK</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
        <ion-button Fill="outline" color="success" (click)="clickOrderConfirm()" [routerLink] ="['/home']">PLACE AN ORDER</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
