ion-button {
    width: 200px;
    height: 100px;
  }
  ion-col {
    text-align: center;
  }

  .menuphoto {
    padding-left: 100px;
    }
  
  .price {
    padding-right: 30px;
  }

  .icon{
    font-size: 46px;
  }