.welcome-card {
  text-align: center;

}

ion-button {
  width: 220px;
  height: 150px;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5;
}

ion-grid{
  margin-left: 40px;
}
